<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}MEMs | Medical Equipment Management System{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href="{% url 'app:index' %}" class="logo mr-auto"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'app:index' %}">หน้าแรก</a></li>
          <li><a href="#feature">คุณสมบัติ</a></li>
          <li><a href="#pricing">ราคา</a></li>
          <li><a href="#faq">การปรับปรุง</a></li>
          <li><a href="#contact">ติดต่อเรา</a></li>
          <li class="drop-down"><a href="#"><img src="/static/img/flag/th.png" style="height: 24px" alt=""> Thai</a>
            <ul>
              <li><a href="{% url 'app:index' %}"><img src="/static/img/flag/th.png" style="height: 24px" alt=""> Thai</a></li>
              <li><a href="{% url 'app:index' %}"><img src="/static/img/flag/us.png" style="height: 24px" alt=""> English</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a href="#" class="get-started-btn scrollto"><i class="fa fa-phone"></i> 083 082 6392</a>
    </div>
  </header>
  <section id="hero">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row mt-lg-5">
        <div class="col-lg-5 order-1">
          <h1 class="my-3">ระบบบริหารจัดการ<br/>เครื่องมือแพทย์</h1>
          <p style="font-size:20px">
            ระบบบริหารงานซ่อมเครื่องมือแพทย์แบบครบวงจร เหมาะสำหรับ <span style="color:#b48e47">โรงพยาบาล สถานพยาบาล คลีนิค สถานีอนามัย ศูนย์เครื่องมือแพทย์</span> หรือบริษัท ที่เกี่ยวข้องกับงานเครื่องมือแพทย์
          </p>
          <a href="#" class="btn-get-started scrollto">สมัครใช้ฟรี 30 วัน &rarr;</a>
          <a href="http://memsofts.com:8069/web/login?db=mems" target="_blank" class="btn-get-started btn-started-line">Demo</a>
        </div>
        <div class="col-lg-7 order-lg-12">
          <img src="/static/img/macbook.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <main id="main">
    <section id="features">
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-10 offset-lg-1">
            <div class="section-title">
              <h2>ระบบจัดการแบบ <span style="color:#1f8ecf">ออนไลน์</span> ที่ใช้งานง่ายที่สุด</h2>
              <p>ออกแบบโดยผู้ที่ทำงานด้านเครื่องมือแพทย์โดยตรง จึงตอบโจทย์ปัญหาของผู้ใช้ ระบบใช้งานง่าย ทำงานแบบออนไลน์ผ่าน Cloud Hosting จึงหมดกังวลเรื่องข้อมูลสูญหาย สะดวกสบายในการออกรายงานแบบครบทุกมุมมอง นำไปใช้สำหรับผู้บริหารได้ทันที</p>
            </div>
          </div>
        </div>
        <div class="row icon-boxes mb-5">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="ri-rocket-line icon-gradient"></i></div>
              <h4 class="title"><a href="#">ใช้งานง่าย</a></h4>
              <p class="description">ออกแบบระบบให้ใช้งานง่าย ลดความยุ่งยาก/ซ้ำซ้อน และตรงความต้องการ เพราะออกแบบโดยนักเครื่องมือแพทย์โดยตรง</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="ri-refresh-line icon-gradient"></i></div>
              <h4 class="title"><a href="#">เรียลไทม์/ออนไลน์</a></h4>
              <p class="description">ระบบทำงานอยู่บนคลาวด์ สามารถเชื่อมต่อเพื่อใช้งานได้ทันที ทุกที่ทุกเวลา หมดปัญหาไวรัสและข้อมูลสูญหาย</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="ri-time-line icon-gradient"></i></div>
              <h4 class="title"><a href="#">ประหยัดเวลา</a></h4>
              <p class="description">ตรวจสอบสถานะของอุปกรณ์ได้ทันที ข้อมูลทุกส่วนเชื่อมโยงกัน และค้นหาได้รวดเร็ว สามารถพิมพ์เอกสาร/ส่งอีเมล ได้ในคลิกเดียว</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="ri-shield-check-line icon-gradient"></i></div>
              <h4 class="title"><a href="#">มีความปลอดภัย</a></h4>
              <p class="description">นโยบายในการรักษาความปลอดภัยของข้อมูลสูงสุด มีการสำรองข้อมูล และจำกัดเฉพาะพนักงานที่ได้รับอนุญาติเท่านั้น ในการดูแลระบบ</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"> <i class="ri-file-chart-line icon-gradient"></i></div>
              <h4 class="title"><a href="#">รายงานครบถ้วน</a></h4>
              <p class="description">รายงานที่ครบทุกมุมมอง สามารถความเคลื่อนไหวสต็อกอะไหล่ สถานะคุรุภัณฑ์ และรายงานสรุปในรูปแบบ BI ด้วยแดชบอร์ด</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="ri-smartphone-line icon-gradient"></i></div>
              <h4 class="title"><a href="#">รองรับบน Mobile</a></h4>
              <p class="description">ทำงานผ่านโมบายได้ทันที ทุกที่ทุกเวลา โดยไม่จำเป็นต้องเข้ามาในสำนักงาน และสามารถเช็คสต็อกผ่านแอพลิเคชั่นได้</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="feature" class="section-bg">
      <div class="container">
        <div class="row" style="margin-bottom: 50px" data-aos="fade-up">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-title">
              <h2>คุณสมบัติ</h2>
              <p>ฟังก์ชั่นการใช้งานที่ครบครัน รองรับระบบคุรุภัณฑ์ การแจ้งซ่อม การบำรุงรักษา (PM) การสอบเทียบ/วัด (Calibrate)
                ระบบการแจ้งเตือนต่างๆ ให้คุณสามารถจัดการงานได้อย่างเต็มที่ ใช้งานสะดวกเพียงไม่กี่คลิกเท่านั้น</p>
            </div>
          </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 80px" data-aos="fade-up">
          <div class="col-lg-7 order-1">
            <div class="mr-lg-5">
              <h1 class="display-4 text-dark">คุรุภัณฑ์</h1>
              <ul class="check-list mt-2 mb-5">
                <li><i class="fa fa-check"></i> รองรับการแสดงหลายมุมมอง เช่น รายการ, รูปภาพ และปฏิทิน</li>
                <li><i class="fa fa-check"></i> แสดงสถานะเป็นแถบสี</li>
                <li><i class="fa fa-check"></i> มีระบบตรวจสอบประกันสินค้า</li>
                <li><i class="fa fa-check"></i> แสดงประวัติการซ่อม การสอบเทียบ และการบำรุงรักษา</li>
                <li><i class="fa fa-check"></i> จัดกลุ่มตามรายการที่สนใจได้</li>
                <li><i class="fa fa-check"></i> แนบคู่มือ หรือ เอกสารการใช้งานได้</li>
                <li><i class="fa fa-check"></i> พิมพ์ทะเบียนประวัติเป็น PDF และป้าย Q/R Code</li>
                <li><i class="fa fa-check"></i> รองรับการนำเข้า (Import) และส่งออก (Export) ข้อมูลเป็นไฟล์ CSV หรือ Excel</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 order-lg-12">
            <img src="/static/img/feature/feature01.png" class="img-fluid rounded-lg mb-4" alt="">
          </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 80px" data-aos="fade-up">
          <div class="col-lg-5">
            <img src="/static/img/feature/feature02.png" class="img-fluid rounded-lg mb-4" alt="">
          </div>
          <div class="col-lg-7">
            <div class="ml-lg-5">
              <h1 class="display-4 text-dark">การแจ้งซ่อม</h1>
              <ul class="check-list mt-2 mb-5">
                <li><i class="fa fa-check"></i> สร้างใบแจ้งซ่อม</li>
                <li><i class="fa fa-check"></i> ลงทะเบียนประวัติอาการเสีย และการแก้ไข</li>
                <li><i class="fa fa-check"></i> อนุมัติการซ่อมตามลำดับงาน (Work flow)</li>
                <li><i class="fa fa-check"></i> ติดตามงานซ่อม ได้หลายสถานะ</li>
                <li><i class="fa fa-check"></i> พิมพ์ใบแจ้งซ่อมได้</li>
                <li><i class="fa fa-check"></i> รองรับการส่งอีเมล ไปยังผู้รับผิดชอบ</li>
                <li><i class="fa fa-check"></i> สร้างใบเบิกอะไหล่อัตโนมัติ</li>
                <li><i class="fa fa-check"></i> ติดตามสถานะของงานซ่อม เชื่อมโยงด้วย Google Calendar และ LINE</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 80px" data-aos="fade-up">
          <div class="col-lg-5 order-1">
            <h1 class="display-4 text-dark">คลังสินค้า</h1>
            <ul class="check-list mt-2 mb-5">
              <li><i class="fa fa-check"></i> ฟังก์ชั่นใบขอราคา (RFQ)</li>
              <li><i class="fa fa-check"></i> ฟังก์ชั่นใบสั่งซื้อสินค้า (Purchase Order)</li>
              <li><i class="fa fa-check"></i> ฟังก์ชั่นการรับเข้าสินค้า (Receive)</li>
              <li><i class="fa fa-check"></i> ฟังก์ชั่นใบเบิกวัตถุดิบ (Issue)</li>
              <li><i class="fa fa-check"></i> สามารถดูความเคลื่อนไหวของสินค้า (Stock Move)</li>
              <li><i class="fa fa-check"></i> ปรับยอดจำนวนในสต็อก</li>
              <li><i class="fa fa-check"></i> ระบบแจ้งเตือนสินค้าใกล้หมด</li>
              <li><i class="fa fa-check"></i> พิมพ์รายละเอียดสินค้า PDF และป้าย Q/R Code</li>
              <li><i class="fa fa-check"></i> ฟังก์ชั่นจัดการสินค้าด้วย Mobile</li>
            </ul>
          </div>
          <div class="col-lg-7 order-lg-12">
            <img src="/static/img/feature/feature03.png" class="img-fluid rounded-lg mb-4" alt="">
          </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 40px" data-aos="fade-up">
          <div class="col-lg-5">
            <img src="/static/img/feature/feature04.png" class="img-fluid rounded-lg mb-4" alt="">
          </div>
          <div class="col-lg-7">
            <div class="ml-lg-5">
              <h1 class="display-4 text-dark">รายงาน</h1>
              <ul class="check-list mt-2 mb-5">
                <li><i class="fa fa-check"></i> รายงานสถานะคุรุภัณฑ์</li>
                <li><i class="fa fa-check"></i> รายงานเครื่องหมดประกัน</li>
                <li><i class="fa fa-check"></i> รายงานสอบเทียบ/วัด</li>
                <li><i class="fa fa-check"></i> รายงานสถานะงานซ่อม</li>
                <li><i class="fa fa-check"></i> รายงานเครื่อง Down Time</li>
                <li><i class="fa fa-check"></i> รายงานคลังสินค้า</li>
                <li><i class="fa fa-check"></i> รายงานการยืม/คืน</li>
                <li><i class="fa fa-check"></i> รายงานประสิทธิภาพช่าง</li>
                <li><i class="fa fa-check"></i> สามารถพิมพ์ออกมาเป็น PDF และ Excel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="counts" class="counts">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">15,113,895</span>
              <p>มูลค่ารวม</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">6</span>
              <p>ลูกค้า</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">145</span>
              <p>การปรับปรุง</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">2</span>
              <p>ทีมงาน</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="cta" class="cta about-video">
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-6" data-aos-delay="100">
          </div>
          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3 class="text-white text-right">"ระบบ MEMs ช่วยให้สามารถมองเห็น ข้อมูลคุรุภัณฑ์ได้ สามารถวางแผนการจัดสรรเครื่องได้ทันที ตามความต้องการของ ward ต่าง ๆ"</h3>
            <p class="text-right font-italic">
              คุณธิติชัย - โรงพยาบาลตรัง
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <div class="row mb-5">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-title">
              <h2>แพคเกจราคา</h2>
              <p>เลือกแพคเกจราคาตามความเหมาะสม สำหรับปริมาณในการใช้งาน กับงบประมาณของหน่วยงานท่าน
                และสามารถเปลี่ยนแปลง หรืออัพเกรดไปใช้แพกเกจอื่นๆ ได้ตามความต้องการ</p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-4 col-md-6" data-aos="zoom-im" data-aos-delay="100">
            <div class="box">
              <h3 style="font-size:30px">Free</h3>
              <h4><sup>฿</sup>0<span> / ปี</span></h4>
              <ul>
                <li>ใช้งานโมดูลพื้นฐานได้</li>
                <li>แสดงโลโก้ที่รายงาน</li>
                <li>Shared Server</li>
                <li class="na">ขอปรับแต่ง/แก้ไข เพิ่มรายงาน</li>
                <li class="na">พิมพ์ Q/R Code</li>
                <li class="na">รองรับ Mobile Inventory</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">เลือกแพกเกจ</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box featured">
              <h3 style="font-size:30px">Pro</h3>
              <h4><sup>฿</sup>7,900<span> / ปี</span></h4>
              <ul>
                <li>ใช้งานได้ทุกโมดูล</li>
                <li>ใช้ได้ทุกรายงาน</li>
                <li>Dedicated Server</li>
                <li>ปรับแต่งแก้ไข ขอเพิ่มรายงานได้</li>
                <li>รองรับการพิมพ์ Q/R Code</li>
                <li class="na">รองรับ Mobile Inventory</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">เลือกแพกเกจ</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="font-size:30px">Enterprise</h3>
              <h4><sup>฿</sup>9,500<span> / ปี</span></h4>
              <ul>
                <li>ใช้งานได้ทุกโมดูล</li>
                <li>ใช้ได้ทุกรายงาน</li>
                <li>Dedicated Server</li>
                <li>ปรับแต่งแก้ไข ขอเพิ่มรายงานได้</li>
                <li>รองรับการพิมพ์ Q/R Code</li>
                <li>รองรับ Mobile Inventory</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">เลือกแพกเกจ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="section-title">
              <h2>การปรับปรุง</h2>
              <p>ระบบของเรามีการพัฒนาอย่างต่อเนื่อง ให้มีประสิทธิภาพดีขึ้นในทุกๆ วัน คุณสามารถส่ง feedback มายังอีเมลของทีมงานได้
                ซึ่งเมื่อเราพัฒนาและทดสอบเรียบร้อยแล้ว จะ release ออกมา คุณสามารถอัพเดทเวอร์ชั่นใหม่ๆ ได้ฟรีแบบไม่จำกัด ตลอดอายุการใช้งาน</p>
            </div>
          </div>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" class="collapse" href="#faq-list-x2" style="font-size: 20px">Version 1.0.4 (ปัจจุบัน) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-x2" class="collapse show" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-09-20: รายการวันที่ปัจจุบัน ไม่แสดงในหน้าจอ </div>
                  <div>2021-09-20: เปลี่ยนคำว่า "คุรุภัณฑ์" เป็น ครุภัณฑ์</div>
                  <div>2021-09-20: หน้าสอบเทียบ วัด เพิ่มรายการ	</div>
                  <div>2021-09-20: เอาราคา ออก	</div>
                  <div>2021-09-20: เรียงรายการใหม่ จากมากไปน้อย	</div>
                  <div>2021-09-20: การปรับยอด Stock แบบ Manual ไม่สามารถปรับได้	</div>
                  <div>2021-09-20: รายการ Dashboard งานของคุณ หาไม่เจอ	</div>
                  <div>2021-09-20: ทำหน้า Service Request	</div>
                  <div>2021-09-20: ต้องแก้โค้ดให้ค้นข้อมูลการยืม คืน ได้	</div>
                  <div>2021-09-20: แก้ไขหน้า Work Order	</div>
                  <div>2021-09-20: ใบแจ้งซ่อม รายการซ่อม (สลับแท็บ)	</div>
                  <div>2021-09-20: ช่างห้ามสร้างรายการอะไหล่</div>
                  <div>2021-09-20: ระบบคืนวััตถุดิบ</div>
                  <div>2021-09-20: แก้ไขวันที่ปรับยอด</div>
                  <div>2021-09-20: แก้ไขการจัดเรียงรายงานการปรับยอด</div>
                  <div>2021-09-20: ใบรับของ ให้ยอดตัวเลขเหมือน P/O</div>
                  <div>2021-09-20: ครุภัณฑ์ : ประวัติการเบิกอะไหล่</div>
                  <div>2021-09-20: ครุภัณฑ์ :  ประวัติการซ่อม</div>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" href="#faq-list-x1" style="font-size: 20px">Version 1.0.3 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-x1" class="collapse" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-09-05: สามารถเลือกบริษัทแบบแยก database ได้</div>
                  <div>2021-09-05: แยกฐานข้อมูล และล้างข้อมูลออกใหม่</div>
                  <div>2021-09-05: แก้ไขกำหนดจำนวนเริ่มต้นในคลัง</div>
                  <div>2021-09-05: แก้ไขกำหนดจำนวนเริ่มต้นในคลัง</div>
                  <div>2021-09-05: แก้ไขบั๊กจำนวนการรับสินค้า</div>
                  <div>2021-09-05: แก้ไขบั๊กจำนวนการรับสินค้า</div>
                  <div>2021-09-05: แก้ไขบั๊กจำนวนการเบิกสินค้า</div>
                  <div>2021-09-05: แก้ไขการแสดงวันที่เริ่มต้น</div>
                  <div>2021-09-05: แก้ไข message popup แสดงข้อความให้ละทิ้ง (discard) เป็นภาษาไทย base_controller.js</div>
                  <div>2021-09-05: เพิ่มฐานข้อมูล basedb สำหรับฐานหลัก</div>
                  <div>2021-09-05: เพิ่มฐานข้อมูล tranghos สำหรับ ร.พ. ตรัง</div>
                  <div>2021-09-05: เพิ่มฐานข้อมูล kingnaraihos สำหรับ ร.พ. สมเด็จพระนารายณ์</div>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" href="#faq-list-1" style="font-size: 20px">Version 1.0.2 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-01-25: ปรับปรุงหน้าอะไหล่ ให้รองรับทั้งสินค้าและบริการ</div>
                  <div>2021-01-25: เพิ่มการแสดงสีเส้น สำหรับสถานะของคุรุภัณฑ์</div>
                  <div>2021-01-24: เพิ่มการแสดงแพ็กเกจที่กำลังใช้งาน</div>
                  <div>2021-01-23: เพิ่ม Chat Plugin สำหรับการ Support</div>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" href="#faq-list-2" class="collapsed" style="font-size: 20px">Version 1.0.1 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-08-22: ปรับปรุงประสิทธิภาพในการแสดง Dashboard และรายงาน</div>
                  <div>2021-08-22: ปรับปรุงข้อความในการส่งอีเมล</div>
                  <div>2021-08-22: แก้ไข margin bottom ของทุกๆ หน้าจอไม่ใช้ชนขอบล่าง</div>
                  <div>2021-08-22: ปรับเลย์เอาต์รายงานใหม่ทุกตัว</div>
                  <div>2021-08-21: เปลี่ยน theme ใหม่โดยใช้ font CSPrakas</div>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" href="#faq-list-3" class="collapsed" style="font-size: 20px">Version 1.0.0 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-08-21: นำขึ้น Production บน Cloud Server</div>
                  <div>2021-08-21: เพิ่ม Pricing Package</div>
                  <div>2021-08-20: เพิ่ม Video แนะนำการใช้งาน</div>
                  <div>2021-08-18: สามารถล็อกอินได้ทั้ง Facebook และ Google</div>
                  <div>2021-08-18: ปรับหน้าจอ Login ใหม่</div>
                  <div>2021-08-17: เพิ่มกราฟ และงานค้าง ในหน้า Dashboard</div>
                  <div>2021-08-17: เพิ่มการแสดงผลภาษาไทย</div>
                  <div>2021-08-17: ปรับปรุงเลย์เอาต์ใหม่โดยใช้ theme AdminLTE2</div>
                  <div>2021-08-16: เพิ่ม API ในการออกรายงาน Dashboard</div>
                  <div>2021-08-16: เพิ่มฟังก์ชั่นในการทำ Dashboard</div>
                  <div>2021-08-15: เพิ่มการ collapse แผงเมนูด้านข้าง ให้สามารถพับได้</div>
                  <div>2021-08-15: Release เวอร์ชั่น 1.0.0 </div>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" href="#faq-list-4" class="collapsed" style="font-size: 20px">Version 0.1.1 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-08-14: เพิ่มรายงานสถานะการซ่อม</div>
                  <div>2021-08-13: เพิ่มรายงานใบแจ้งซ่อม</div>
                  <div>2021-08-13: ปรับปรุงแบบฟอร์มใบสั่งซื้อสินค้า</div>
                  <div>2021-08-12: ปรับปรุงความสามารถระบบยืม/คืน</div>
                  <div>2021-08-12: เพิ่มรายงานสินค้าใกล้หมด</div>
                  <div>2021-08-12: เพิ่มรายงานการยืมคุรุภัณฑ์</div>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="fa fa-plus icon-help"></i>
              <a data-toggle="collapse" href="#faq-list-5" class="collapsed" style="font-size: 20px">Version 0.1.0 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <div class="p-4">
                  <div>2021-08-12: เพิ่มการสร้างใบเบิกจากใบแจ้งซ่อม</div>
                  <div>2021-08-11: เพิ่มความสามารถในการคัดลอก items ลงใบแจ้งซ่อม</div>
                  <div>2021-08-10: รายงานความเลื่อนไหวของสินค้า</div>
                  <div>2021-08-09: รายงานการแจ้งซ่อม</div>
                  <div>2021-08-09: ฟังก์ชั่นการทำรับสินค้า (receive)</div>
                  <div>2021-08-08: ระบบจัดการการแจ้งซ่อม</div>
                  <div>2021-08-01: โอนโครงสร้างระบบมาจากเวอร์ชั่น 0.0.1 เวอร์ชั่นตั้งต้น</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <img src="/static/img/depa.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>ติดต่อเรา</h2>
          <p>เราเป็นทีมงานของ บริษัท แอพโค้ด เทคโนโลยี จำกัด สามารถติดต่อได้จากเว็บไซต์อย่างเป็นทางการ ตามช่องทางติดต่อทางด้านล่าง</p>
        </div>
        <div>
          <iframe style="border:0;width:100%;height:270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3256.7045300466325!2d100.52913668176876!3d13.905152187339661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d788e44883f63%3A0xb4ba6f0a624c8edc!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5geC4reC4nuC5guC4hOC5ieC4lCDguYDguJfguITguYLguJnguYLguKXguKLguLUg4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sth!2sth!4v1593425773575!5m2!1sth!2sth" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>บริษัท แอพโค้ด เทคโนโลยี จำกัด</p>
              </div>
              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>appcodetraining@gmail.com</p>
              </div>
              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>02 157-3558 มือถือ 083-082-6392</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="ชื่อ หรือ หน่วยงาน" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="อีเมล" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="หัวเรื่อง" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" placeholder="แจ้งการใช้โปรแกรม หรือ ข้อเสนอแนะ" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">ส่งข้อความเรียบร้อยแล้ว! ขอบคุณ</div>
              </div>
              <div class="text-center"><button type="submit">ส่งข้อมูล</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MEMs</h3>
            <p>
              ย่อมาจาก <strong>(M)edical (E)quipment (M)anagement System(s)"</strong>
              เป็นหนึ่งในผลิตภัณฑ์ของทีมงาน "แอพโค้ด" เรามีความเชี่ยวชาญการพัฒนาซอฟต์แวร์โดยใช้ Odoo Framework
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>เมนู</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ฟังก์ชั่นทั้งหมด</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ทีมงาน</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">เงื่อนไขการใช้งาน</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ผังเว็บไซต์</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>บริการของเรา</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.appcode.co.th">เว็บไซต์ Appcode</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">โปรแกรม CarWash</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">โปรแกรม PosValue</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">โปรแกรม EasyClinic</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>สื่อการเรียนรู้</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">บทความ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">วีดีโอแนะนำ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">คู่มือการใช้งาน</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; 2021 Copyright <strong><span>MEMs</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="http://www.appcode.co.th">Appcode</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="medium"><i class="bx bxl-medium"></i></a>
        <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/vendor/counterup/counterup.min.js"></script>
  <script src="/static/vendor/venobox/venobox.min.js"></script>
  <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
